# Arquivos e pastas do Visual Studio e Rider
.vs/
.idea/
*.suo
*.user
*.userosscache
*.cache
*.bak

# Build e binários
out/

# Dependências do NuGet
*.nupkg
packages/

# Logs e Debug
*.log
debug/
crash-reports/
hs_err_pid*.log

# Docker
docker-compose.override.yml
**/Dockerfile
**/docker-compose*

# Arquivos gerados automaticamente
Generated/
node_modules/

# Arquivos temporários
*.tmp
*.temp
*.swp
*.swo


